body {
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header > nav {
    align-items: center;
    background-color: rgba(20, 35, 80, 0.5);
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

nav > img {
    position: absolute;
    left: 75px;
    border-radius: 10px;
}

nav > a {
    margin-left: 30px;
}

.btn {
    background-color: #6166F4;
    border: 0;
    border-radius: 15px;
    color: white;
    padding: 7.5px 15px;
    outline: none;
    text-decoration: none;
}

.btn:hover {
    background-color: #464cf1;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 100vh;
}

section {
    padding: 20px;
    text-align: center;
}

div > img {
    border-radius: 10px;
}

#exercises a {
    margin-left: 80%;
}

#faqs a {
    margin-left: 105%;
}

#exercises {
    margin-left: 80%;
}

#faqs {
    margin-left: 80%;
}

footer {
    background-color: rgba(20, 35, 80, 0.5);
    padding: 20px;
}