body {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Roboto Serif', serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

header > nav {
  align-items: center;
  background-color: rgba(20, 35, 80, 0.5);
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}

nav > img {
  position: absolute;
  left: 75px;
  border-radius: 10px;
}

nav > a {
  margin-left: 30px;
}

.btn {
  background-color: #6166F4;
  border: 0;
  border-radius: 15px;
  color: white;
  padding: 7.5px 15px;
  outline: none;
  text-decoration: none;
}

.btn:hover {
  background-color: #464cf1;
  cursor: pointer;
}

#left {
  margin-left: 45%;
}

main {
    border: 3px solid aqua;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#contact {
    background-color: rgb(20, 17, 214);
    padding: 10px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}

form {
    margin-top: 20px;
}

.form-group {
    color: white;
    margin-bottom: 20px;
    width: 90%;
}

label {
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    background-color: rgba(20, 35, 80, 0.5);
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}