body {
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header > nav {
    align-items: center;
    background-color: rgba(20, 35, 80, 0.5);
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

#logo {
    border-radius: 10px;
}

nav > img {
    position: absolute;
    left: 75px;
}

nav > a {
    margin-left: 30px;
}

.btn {
    background-color: #6166F4;
    border: 0;
    border-radius: 15px;
    color: white;
    padding: 7.5px 15px;
    outline: none;
    text-decoration: none;
}

.btn:hover {
    background-color: #464cf1;
    cursor: pointer;
}

.left {
    position: relative;
    left: 100px;
    text-align: left;
    margin-top: 5rem;
    max-width: 50%;
}

.right {
    position: relative;
    right: 100px;
    text-align: right;
    margin-top: 5rem;
    max-width: 50%;
    margin-left: 50%;
}

footer {
    background-color: rgba(20, 35, 80, 0.5);
    margin-top: 100px;
    padding: 20px;
}