 /* #body{
    background-image: "./Images/background.jpg";
    background-position: static;
    background-repeat: no-repeat;
    background-size: cover;
  } */
 
  a {
      text-decoration: none;
      /* to get rid of underline*/
      color: #fff;
  }
/* Navbar */
  #navbar a:hover {
      border-bottom: 2px #fff solid;
  }

  #nav_links {
      list-style: none;
      display: inline-flex;
      gap: 30px;
      margin-left: 50%;
      padding-top: 5px;
      font-size: x-large;
  }

  .link_bubble {
      background-color: #9370db;
      height: 50px;
      width: 10rem;
      align-items: center;
      border-radius: 10%;
      display: inline-flex;
      justify-content: center;
  }

  #navbar {
      background-color: transparent;
      box-sizing: border-box;
      width: 100%;
  }

  #heading {
      color: #fff;
      margin-left: 40%;
      margin-top: 20%;
  }

  #heading>h1 {
      font-size: 100px;
  }

  #mission{
    margin-left: 25%;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 30px;
    width: 50%;
  }
  #text{
    color: #fff;
    font-size:35px;
    align-items:justify;
  }

  #Footer {
      margin-top: 15%;
      /* box-sizing: border-box; */
      background-color: transparent;
      /* border: 5px solid transparent; */
      display: flex;
      width: 100%;
      height: 10rem;
  }

  #Footer > h1 {
      color: #fff;
      /* margin-top: 10px; */
  }