body {
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header > nav {
    align-items: center;
    background-color: rgba(20, 35, 80, 0.5);
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

nav > img {
    position: absolute;
    left: 75px;
    border-radius: 5px;
}

nav > a {
    margin-left: 30px;
}

.btn {
    background-color: #6166F4;
    border: 0;
    border-radius: 15px;
    color: white;
    padding: 7.5px 15px;
    outline: none;
    text-decoration: none;
}

.btn:hover {
    background-color: #464cf1;
    cursor: pointer;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: auto;
    width: 60%;
}

section > h1 {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin: 0px;
    margin-bottom: 25px;
}

section > p {
    margin: 0px;
    margin-bottom: 30px;
}

footer {
    background-color: rgba(20, 35, 80, 0.5);
    padding: 20px;
}